@model IEnumerable<WebsiteThuCungBento.Models.PhanQuyen>

@{
    ViewBag.Title = "Danh sách phân quyền";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>TRANG QUẢN LÝ QUYỀN</h2>

<table class="table">
    <tr>
        <th>
            Mã quyền
        </th>
        <th>
            Mã chức năng
        </th>
        <th>
            Tên chức năng
        </th>
        <th>
            Loại tài khoản
        </th>
        <th>
            Họ và tên
        </th>
        <th>
            Xóa
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.MaPQ)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MaCN)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ChucNang_Quyen.TenCN)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NhanVien.TenLoai)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NhanVien.HoTen)
            </td>
            <td>
                <a href="@Url.Action("Delete", "AdminPQ", new { id = item.MaPQ })">
                    <img style="margin-left:25px" src="~/img/icons/icon_Xoa.png" />
                </a>
            </td>
        </tr>
    }
</table>